@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$jj-app-primary: mat-palette($mat-blue-grey, 800);
$jj-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$jj-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$jj-app-theme: mat-dark-theme($jj-app-primary, $jj-app-accent, $jj-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($jj-app-theme);

html, body {
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

mat-sidenav {
	width: 250px;
}

main {
	padding: 16px;
	max-width: 1600px;
	margin: auto;
}
